@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations

<div class="sidebar">
    <NavMenu />
</div>




<div class="main">


    <div class="content px-4">
        @Body

    </div>

    <footer>
        <SfToolbar> Copyright (c) </SfToolbar>

    </footer>
</div>

<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 20px;
    }

    SfToolbar{
        margin-left: auto;
        margin-right: auto;
    }
</style>